:root {
  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);
  --Dark-Grayish-Blue: hsl(210, 10%, 33%);
  --Grayish-Blue: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.8;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Bai Jamjuree", sans-serif;
}

.container {
  min-width: 375px;
  text-align: center;
}

header {
  background: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 3em;
}

.logo {
  margin-top: 10em;
}

.title {
  font-size: 3rem;
  color: var(--Dark-Grayish-Blue);
  margin: 2em 0 0.5em;
}

.header-paragraph {
  font-size: 1.5rem;
  color: var(--Grayish-Blue);
  margin-bottom: 3em;
}

.btn {
  margin: 0.5em auto;
  padding: 1em 5em;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--Strong-Cyan);
}

.btn-secondary {
  background: var(--Light-Blue);
}

.snippets {
  margin: 15em 5em 15em;
}

.snippets h2,
h3 {
  color: var(--Dark-Grayish-Blue);
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}

.snippets p {
  color: var(--Grayish-Blue);
  margin-bottom: 3em;
  font-size: 1.5rem;
}

.sub_snippet > h3 {
  font-size: 2rem;
}

.computer {
  margin-bottom: 5em;
}

.remote--access {
  margin: 10em 3em;
}

.remote--heading {
  color: var(--Dark-Grayish-Blue);
  font-size: 2.5rem;
  margin: 0 2em 0.5em;
}

.remote--paragraph {
  color: var(--Grayish-Blue);
  font-size: 1.5rem;
  margin: 0 1em 4em;
}

.workflow {
  margin: 3em 1em;
}

.workflow--heading {
  font-size: 2.5rem;
  color: var(--Dark-Grayish-Blue);
  margin: 0 2em;
}

.workflow p {
  color: var(--Grayish-Blue);
  font-size: 1.5rem;
  margin: 0.5em 2em 1em;
}

.workflow--line h3 {
  color: var(--Dark-Grayish-Blue);
  font-size: 2rem;
  margin-top: 1em;
}

.icon {
  margin: 3em 0;
}

.partners {
  display: flex;
  flex-direction: column;
  margin: 10em auto;
  /* width: 100%; */
}

.partners--logo {
  margin: 5em auto;
  /* width: 50%; */
}

.cta {
  margin: 10em 2em 0;
}

.cta--heading {
  color: var(--Dark-Grayish-Blue);
  font-size: 2.5rem;
  margin: 0 1em;
}

.cta--paragraph {
  color: var(--Grayish-Blue);
  font-size: 1.5rem;
  margin: 1em 2em 3em;
}

footer {
  background: rgb(243, 241, 239);
  padding: 3em 0;
  margin-top: 15em;
  text-align: center;
}

.footer--logo {
  width: 60px;
}

nav ul {
  margin: 2em;
  list-style: none;
}

nav ul li {
  padding: 1.5em;
}

li a {
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
  transition: color 0.2s;
  font-size: 1.5rem;
}

li a:hover {
  color: var(--Strong-Cyan);
}

.socials img {
  width: 30px;
  margin: 1em;
}

.attribution {
  margin-top: 5em;
}

@media screen and (min-width: 600px) {
  header {
    background: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .header-paragraph {
    width: 35%;
    margin: 0 auto 3em;
  }

  .btn {
    margin: 0.5em 1em;
  }

  .snippets--paragraph {
    width: 40%;
    margin: 0 auto;
  }

  .move {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }

  .computer {
    width: 100%;
    transform: translateX(-10vw);
  }

  .right {
    text-align: left;
  }

  .remote--paragraph {
    width: 35%;
    margin: 0 auto 5em;
  }

  .workflow {
    margin-bottom: 20em;
  }

  .workflow--line {
    display: flex;
  }

  .sub--workflow {
    width: 50%;
  }

  .reduce {
    margin: 2.6em;
  }

  .partners {
    display: flex;
    flex-direction: row;
  }

  .partners--logo {
    margin: 2em;
    width: 10%;
    margin: 0 auto;
  }

  .cta {
    margin-top: 20em;
  }

  .cta--paragraph {
    width: 35%;
    margin: 1em auto 3em;
  }
}

@media screen and (min-width: 800px) {
  .move {
    margin-top: 10em;
  }

  .more--info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7em 10em;
    height: 100px;
  }

  nav ul {
    display: flex;
    margin: 0;
    margin-left: 5em;
    flex-wrap: wrap;
  }

  .socials {
    display: flex;
  }
  .attribution {
    margin: 0;
  }
}
